<div class="container">
      <div class="row" >
      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="margin-top:5%;">
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Loganathan Dhandapani</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 

                  <img alt="User Pic" src="https://image.freepik.com/free-vector/logo-with-abstract-human-form_1032-23.jpg" class="img-circle img-responsive"> 

                </div>
                
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>User ID :</td>
                        <td>2323232</td>
                      </tr>
                      <tr>
                        <td>User Name:</td>
                        <td>loganathan</td>
                      </tr>
                      <tr>
                        <td>Provider :</td>
                        <td>google</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Email ID :</td>
                        <td>{{user.email}}</td>
                      </tr>
                     
                      
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" (click)="logout()"><i class="glyphicon glyphicon-remove"></i>Logout</a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>